---
import styles from "../styles/index.css";
---

<html>
  <body class="min-h-screen bg-gray-50 p-8">
    <h1 class="mb-8 text-center text-4xl font-bold text-gray-500">About Us</h1>
    <div class="mx-auto max-w-2xl rounded-lg bg-white p-8 shadow-md">
      <div class="space-y-6">
        <h1>Mission</h1>
        <p>
          I want to make sailing more approachable, accessible, and affordable
          for more people. This site is one small step to make it easier to find
          a place to start sailing or to continue to learn and compete.
        </p>
        <h1>About Me</h1>
        <p>
          I grew up sailing in Maine. Our 'yacht club' didn't have a bar, launch
          service, or heat. it was maintained by the members and kept up well.
          It was a welcoming place where thousands have learned to sail at an
          early age over the years.
        </p>
        <p>
          I want to make the sport more open, accepting, and accessible. I
          understand why people percieve sailing in a negative light, it's
          expensive and unattanable fo many, but through community programs it
          can be within reach for many. On the other side of this, those who
          sail need to be more welcoming and open to new people. It's a sport
          that can be enjoyed by all, and it's important to make sure that
          everyone feels welcome.
        </p>
      </div>
    </div>
  </body>
</html>
